@charset "utf-8";

/* Universal Styles */

html {
    background-image: url("elbow_deep_in_code.jpg");
    background-repeat: round;
    background-size: 2%;
    min-width: 550px;
    position: relative;
}

body {
    width: 100%;
}

/* Home & Nav Styles */

h1#name {
    color: darkgray;
    text-align: center;
    font-size: 5em;
    text-shadow: 2px 2px black;
}


section#home {
    padding: 6em 0em 6em 0em;
    margin: 0;
    background-image: radial-gradient(rgba(0, 0, 0, .7) 40%, rgba(255, 255, 255, .5) 100%);
    filter: drop-shadow(5px 5px 4px rgba(255, 255, 255, .7));
}


nav ul {
    text-align: center;
    padding: .8em;
    width: 100%;
    height: 1em;
    margin: 0 auto;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("pixel_back.jpg");
    background-size: 2%;
    position: fixed;
    z-index: 100;
    border: solid 1px aqua;
}

nav li {
    padding: 0 3%;
    text-align: center;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: lavender;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 2em;
}

nav ul a:hover {
    color: black;
    text-shadow: 1px 1px white;
}

/* About Styles */

section#about {
    background-image: url("pixel_back.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

#about h1 {
    text-align: center;
    color: gray;
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

#about h2 {
    text-align: center;
    color: darkgray;
    font-size: 2em;
    text-shadow: 2px 2px black;
}

#about hr {
    text-align: center;
    border-color: brown;
    width: 25%;
    height: 1px;
    margin-bottom: 1.5em;
}

/* Resume Styles */

section#resume {
    background-image: url("pixel_back.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

#resume h1 {
    color: darkgray;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

/* Skillset Styles */

section#skills {
    background-image: url("pixel_back.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

#skills h1 {
    color: darkgray;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

/* Contact Styles */

footer#contact {
    background-image: url("pixel_back.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

#contact h1 {
    color: darkgray;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}