@charset "utf-8";


/* Universal Styles */


html {
    background-image: url("elbow_deep_in_code.jpg");
    background-repeat: round;
    background-size: 2%;
    position: relative;
}

/* The background image is set in and is very tiny to give a unique tile effect that will be rpeatible seen throughout the pages.
The page is also given a relative page positioning. */

body {
    width: 100%;
}

/* Body width is set to take up the whole page's amount. */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Universal container collpase fail safe put in after all pages. */

hr {
    text-align: center;
    border-color: black;
    width: 25%;
    height: 1px;
    margin-bottom: 1.4em;
}

/* Black horizontal breaks with the specificed sizes are placed frequently in the page to break up the sections.  */

hr.pagetop {
    margin-top: 3em;
}

/* Specified heading breaks push the tops of pages even further. */

hr.pagebottom {
    margin-bottom: 3em;
}

/* Specified heading breaks push the bottoms of pages even further. */

img.label {
    max-height: 300px;
    max-width: 300px;
}

/* All images are set to have at max a three hundred by three hundred pixel display */


/* Home & Nav Styles */


h1#name {
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    color: darkgray;
    text-align: center;
    font-size: 5em;
    text-shadow: 3px 3px black;
    opacity: .8;
}

/* The main name h1 element pushes the padding up and down by 1.7 ems, is darkgrat and centered, has a size
of 5em, and is given a text shadow three pixels displaced horizontally and vertically alongside slight transparency.  */

section#home {
    padding: 6em 0em 6em 0em;
    margin: 0;
    background-image: radial-gradient(rgba(0, 0, 0, .7) 40%, rgba(255, 255, 255, .4) 60%, rgba(0, 0, 0, .7) 80%, rgba(255, 255, 255, .40) 100%);
    filter: drop-shadow(5px 5px 4px rgba(255, 255, 255, .7));
}

/* The section in the home is given horizontal padding of 6em, no margins, a background gradient
that goes from transpaent black to transparent white back and forth,
and a filter to give it drop shadows on the edges. */

nav ul {
    text-align: center;
    padding: 0em .8em 1em .8em;
    width: 100%;
    height: 1em;
    margin: 0 auto;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("pixel_back_blue.jpg");
    background-size: 2%;
    position: fixed;
    z-index: 100;
    border: solid 1px aqua;
}

/* The manin navigation tab has its text cented, with big horizontal padding alongside slight bottom padding, takes up
the full screen width, has a height of 1 em, a perfectly centered margin space, no list decorations, a font-family
list as such, given another tile background with only 2% in size; all of which is fixed and always in-front with a border
that is solid with 1px that is aqua colored. */

nav li {
    padding: 0 3%;
    text-align: center;
    display: inline-block;
}

/* The list items in the navigation tab are fiven 3% horizontal padding, center alignment, and an inline-block display. */

nav li a {
    text-decoration: none;
    color: lavender;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 2em;
}

/* The individual links in the navigation list have their rext-decoration removed, are lavender, are given a black
text-shadow with 1px on both offsets, font-weight to bold, and a font-size of 2em. */

nav ul a:hover {
    color: black;
    text-shadow: 1px 1px white;
}

/* If you are to hover on the navigation list items, they are to have their font color and font shadow color inverted. */


/* About Styles */


section#about {
    background-image: url("pixel_back_brown.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

/* Our first section, the about page, has a black tiled background put in place with a 2px, inset, darkgray border
that will be shared with the rest of the elements. */

#about h1 {
    text-align: center;
    float: center;
    color: darkgray;
    font-size: 3em;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: black;
}

/* The h1s starting with this one have their text alinged to the center, alongside getting flated their, text colors of
darkgray, font-sizes of 3em, black text-shadows with 2px offsets, and finally 1px color outlines of black.  */

#about h2 {
    text-align: center;
    color: darkgray;
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

/* An h2 element exclusive to this part has its text also centered, is darkgray in color, has a font-size of 2.5em,
and has a text-shadow with 2px offsets that is black. */

#about img {
    float: right;
    padding: 0 3% 3%;
}

/* Every odd numbered page starting with the about section will have their image floated to the right, and padded out
every direction, but up with 3% of space. */

#about div.text {
    padding: 2%;
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px black;
    -webkit-text-stroke: .4px;
    -webkit-text-fill-color: darkgray;
}

/* Our last element in a group shall be its text established by a class of "text" to target. These paragraphs will have
padding all around of 2%, black text-color, a black shadow as well offset by 2px both directions, and a font outline
that will be .4 subpixles in lenth and darkgray.  */

/* Education Styles */


section#education {
    background-image: url("pixel_back_purple.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

/* Style rules will now start to look like they are repeating, with the exception of their starting ID.
The starting style rule however will have a different image tiled in the background, this time colored purple. */

#education h1 {
    color: darkgray;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: black;
}

#education div.text {
    padding: 2%;
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px;
    -webkit-text-stroke: .4px;
    -webkit-text-fill-color: darkgray;
}

#education img {
    float: left;
    padding: 0 3% 3%;
}

/* Every even numbered page will have their image floaded to the left of the text as opposed to the right instead.
this is to give a distict pattern to the structures. */

/* Work Styles */


section#work {
    background-image: url("pixel_back_green.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

/* This section is specifically called to have a green tiling background instead. */

#work h1 {
    color: darkgray;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: black;
}

#work div.text {
    padding: 2%;
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px black;
    -webkit-text-stroke: .4px;
    -webkit-text-fill-color: darkgray;
}

#work img {
    float: right;
    padding: 0 3% 3%;
}

/* Skillset Styles */


section#skills {
    background-image: url("pixel_back_yellow.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

/* Next up, this section will have its new tiling be the color yellow to continue the trend. */

#skills h1 {
    color: darkgray;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: black;
}

#skills div.text {
    padding: 2%;
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px black;
    -webkit-text-stroke: .4px;
    -webkit-text-fill-color: darkgray;
}

#skills img {
    float: left;
    padding: 0 3% 3%;
}

/* Contact Styles */


footer#contact {
    background-image: url("pixel_back_blue.jpg");
    background-size: 1%;
    border: inset darkgray 2px;
}

#contact h1 {
    color: darkgray;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: black;
}

#contact div.text {
    padding: 2%;
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px black;
    -webkit-text-stroke: .4px;
    -webkit-text-fill-color: darkgray;
}

#contact img {
    float: right;
    padding: 0 3% 3%;
}


/* Mobile styles */

@media only screen and (max-width: 640px) {

/* Finally, we have our mobile style that target devices with less than 640px in total screen width for better viewing
experinces on those platforms. */

    img {
    display: none;
    }

    /* This is done first by getting rid of all images that would otherwise clutter up the website columns. */

    nav ul {
        font-size: .7em;
        padding-bottom: 4em;
    }

    /* And second, the navigation bar is fixed by having the text be smaller in size fitting into the lengthened padding. */

}